/* ==========================
RESET - pra página não quebrar e ficar responsiva.
========================== */

html {
  width: 100%; /* ocupa toda a largura da tela */
  overflow-x: hidden; /* impede scroll horizontal*/
}

* { /* global, tudo */
  margin: 0; /* Remove margens padrão do navegador. */
  padding: 0; /*Remove espaçamentos internos padrão. */
  box-sizing: border-box; /* Ela muda como o tamanho (Width) funciona: ja inclui tudo*/
}

/* corpo da página*/

body {
  width: 100%; /* tamanho - ocupa toda a pagina*/
  overflow-x: hidden; /* Repete proteção contra scroll lateral. */
  background: linear-gradient(135deg, #fff8ea, #fefefe); /*cor de fundo*/
  font-family: "Segoe UI", sans-serif; /*fonte padrao da página*/
  min-height: 100vh; /* minima altura - faz o boddy ocupar pelo menos a altura da tela inteira*/
  padding: clamp(10px, 3vw, 40px); /* espaço interno do elemento dividido pra ocupar min 10px, ideal 3% da tela e max 40px*/
}
html, body {
  height: 100%; /*garante que os dois ocupem altura total da tela */
}

/*CALENDÁRIO PRINCIPAL*/
#calendar {
  min-height: 600px; /*PRA NÃO FICAR PEQUENO DEMAIS*/
  height: 100%; /*OCUPA ALTURA TOTAL*/
}
/* ==========================
CONTAINER - TUDO Q ESTA EM <DIV CLASS="CONTAINER"> NO HTML - CAIXA PRINCIPAL DO SITE
========================== */
.container {
  width: 100%; /*OCUPA TODA A LARGURA DISPONIVEL*/
  max-width: 1400px; /*IMPEDE DO LAYOUT FICAR GIGANTE EM TELAS MAIORES*/
  margin: auto; /*CENTRALIZA TUDO HORIZONTALMENTE*/
  padding: 0 20px; /*ESPAÇAMENTO INTERNO - NESTE CASO VERTICAL E HORIZONTAL PODERIA SER (TOP,RIGHT,BOTTON,LEFT)*/
}

/* ==========================
TOPO - APARENCIA DO TOPO, LOGO E ETC
========================== */

.topo {
  background: linear-gradient(135deg, #1e1b1b, #30251a); /*COR DO FUNDO*/
  border-radius: 30px; /*ARREDONDAR BORDAS*/
  padding: 25px; /*ESPAÇAMENTO INTERNO ESTA A 25PX DE TODOS OS CANTOS*/
  margin-bottom: 25px; /*ESPAÇAMENTO EXTERNO DE BAIXO*/
}

.logo-area { /*CONFIG DA AREA ONDE FICA O LOGO*/
  display: flex; /*PRA DEIXAR LOGO E TEXTO LADO A LADO*/
  align-items: center; /*CENTRALIZA VERTICALMENTE*/
  justify-content: center; /*CENTRALIZA HORIZONTALMENTE O GRUPO TODO*/
  gap: 20px; /*DISTÂNCIA ENTRE OS ITENS FLEX*/
}

#logo { /* DA IMAGEM EM SI*/
  width: 260px; /*Define tamanho do logo*/
  border-radius: 500px;/*imagem redonda*/
  object-fit: contain;/*impede a imagem de deformar.*/
}

.topo h1 { /*DO TITULO */
  color: #d4af37; /*DEFINE COR*/
  font-size: 40px; /*TAMANHO DA FONTE*/
}

.topo p { /*TEXTO SECUNDÁRIO editar*/
  color: #f7e7b6; /*COR DO TEXTO*/
}
 
/* ==========================
AÇÕES DESKTOP - estilos usados na versão computador OU notebook.
========================== */

.acoes-agenda { /* da div acoes agenda html novo atend. e profissionais*/
  display: flex; /*linha horizontal - lado a lado*/
  justify-content: flex-end; /*joga os itens para a direita*/
  gap: 12px; /*espaço entre os itens*/
  margin-bottom: 15px; /*espaço entre os botões e o calendário*/
}

#novoAtendimento,
#btnProfissionais { /*estilizando os dois botoes ao mesmo tempo*/
  background: linear-gradient(135deg, #d4af37, #b89020); /*cores de fundo*/
  color: white; /*cor do texto*/
  border: none; /*sem borda*/
  padding: 12px 18px; /*espaçamento interno (cima/baixo e esquerda/direita)*/
  border-radius: 14px; /*borda arredondada*/
  cursor: pointer; /*cursor do mouse*/
  font-weight: 600; /*fonte meio negrito*/
}

/* ==========================
AGENDA CONTAINER 
========================== */

.agenda { /*div class agenda - caixa branca externa*/
  background: white;/*cor do fundo*/
  border-radius: 30px;/*bordas arredondadas*/
  height: calc(100vh - 180px);/* função matematica - 100viewporth altura total da tela - 180 px*/
  overflow: hidden;/*esconde conteudo que ultrapassa a caixa*/
  padding: 10px;/*espaçamento interno*/
}

#calendar { /*do fullcalendar*/
  width: 100%; /*largura total*/
  height: 100%; /*altura tota*/
}

/* ==========================
FULLCALENDAR - estiliza elementos do fullcalendar
========================== */

/* dias do mês */
.fc {
  width: 100%; /*largura total*/
  height: 100%; /*altura tota*/
}

/* header geral - maio de 2026 e mes semana dia*/
.fc-header-toolbar {
  display: flex;/*layout flexivel*/
  justify-content: space-between;/*distribui os 3 grupos*/
  align-items: center;/*centraliza verticalmente*/
  flex-wrap: nowrap;/*impede quebra de linha*/
  gap: 10px;/*espaçamento entre os grupos*/
  padding: 10px 12px;/*espaçamento interno*/
}

/* título mês/ano - maio de 2026*/
.fc-toolbar-title {
  font-size: 22px; /*tamanho da fonte*/
  font-weight: 700; /*negrito forte*/
  color: #8b6b17; /*cor do texto*/
  white-space: nowrap; /*impede quebra de linha*/
  text-align: center; /*centraliza verticalmente*/
}

/* grupo de botões (setas e views) */
.fc-toolbar-chunk {
  display: flex; /*mantem os itens internos alinhados*/
  align-items: center; /*centraliza verticalmente*/
  gap: 8px; /*espaçamento entre os grupos*/
  min-width: 0; /*permite compressão correta*/
}

/* setas prev/next setas*/
.fc .fc-button-group {
  display: flex; /**/
  gap: 6px; /**/
}

/* botões calendário (FULL CALENDAR)*/
.fc .fc-button {
  background: linear-gradient(135deg, #d4af37, #b89020); /*cor de fundo*/
  border: none; /*sem borda*/
  border-radius: 10px; /*arredondada*/
  color: white; /*cor do texto*/
  font-size: 13px; /*tamanho da fonte*/
  padding: 6px 10px; /*espaçamento interno*/
  white-space: nowrap; /*impede quebra de linha*/
}

/* evita corte do grid - Corrige altura interna */
.fc-view-harness {
  height: 100% !important; /*esse !importante força o css acima de tudo - neste caso esta forçando altura total*/
}

/* ==========================
EVENTOS - os cards dos agendamentos
========================== */

.fc-event { /*div fc-event*/
  border: none !important; /*sem borda*/
  border-radius: 10px !important; /*arrendondada*/
  padding: 4px; /*espaçamento interno*/
  font-size: 12px; /*tamanho da fonte*/
  color: #333 !important; /*cor do texto*/
}

/* ==========================
MODAIS - abrir e fechar de telas, scroll, overlay escuro, forms, animacao
========================== */

.modal { /*Esse é o fundo escuro inteiro da tela.*/
  display: none; /*modal começa escondido*/
  position: fixed; /*fixa o modal na tela inteira*/
  inset: 0; /*modal ocupa a tela inteira*/
  background: rgba(0,0,0,0.5); /*cor de fundo - Overlay escuro transparente*/
  justify-content: center; /*Centraliza horizontalmente.*/
  align-items: center; /*Centraliza verticalmente.*/
  z-index: 9999; /*define camada, quando maior mais na frente*/
}

.modal.show { /*faz o modal abrir junto com o JS*/
  display: flex; 
}

.modal > div { /*primeiro div dentro do modal*/
  background: #fff; /*fundo do card*/
  padding: 30px; /*espaçamento interno*/
  border-radius: 10px; /*arrendonda as bordas*/
  max-width: 90%; /*max da largura é 90%*/
}

.modal-content { /*essa é a caixa principal do modal.*/
  position: relative; /*é o pai do absolute*/
  width: 50%; /*largura */
  max-width: 50px; /*Limita tamanho no desktop*/
  max-height: 90vh; /*Nunca ultrapassa 90% da altura da tela.*/
  overflow-y: auto; /*cria scroll interno.*/
  background: #fff; 
  border-radius: 20px;
  padding: 20px; /*espaçamento interno*/
  box-sizing: border-box; /*serve para todos os elementos*/
  -webkit-overflow-scrolling: touch; /*especial iphone - melhora scroll no safari*/
}

/* animação - quando o modal abre aplica animação*/
.modal.show .modal-content {
  animation: slideUp 0.25s ease;
}

@keyframes slideUp { /*define animação - modal sobe suavemente*/
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* BOTÂO FECHAR (X)*/
.btn-fechar-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: #f3f3f3;
  cursor: pointer;
  font-size: 18px;
  font-weight:300;
}

/* inputs */
.modal-content input,
.modal-content select,
.modal-content textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* labels */
.modal-content label {
  display: block;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 13px;
  color: #666;
}

/* botões */
.modal-content button {
  width: 5;
  display: flex;
  align-items: center;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 15px;
}

/* título */
.modal-content h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

/* ações */
.acoes-modal {
  display: flex;
  flex-direction:row;
  gap: 10px;
}

/* ==========================
FAB MOBILE
========================== */

.fab-container {
  display: flex;
}

/* ==========================
MOBILE FIX
========================== */

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .container {
    padding: 0;
  }

  .topo {
    padding: 16px;
  }

  .logo-area {
    flex-direction: column;
  }

  #logo {
    width: 180px;
    align-items: center;
  }

  .topo h1 {
    font-size: 22px;
  }

  .topo p {
    font-size: 13px;
  }

  /* desktop actions */
  .acoes-agenda {
    display: none;
  }

  /* agenda */
  .agenda {
    height: calc(100vh - 110px);
    padding: 5px;
  }

  /* fullcalendar */
  .fc-header-toolbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .fc-toolbar-title {
    font-size: 16px !important;
    width: 100%;
    text-align: center;
  }

  .fc .fc-button {
    font-size: 11px;
    padding: 5px 8px;
  }

  .fc-event {
    font-size: 11px !important;
  }

  /* FAB */
.fab-container {
  position: fixed;
  right: 16px;
  bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.fab-container button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: #d4af37;
  color: white;
  font-size: 18px;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* MODAL CORRETO */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  padding: 12px;
  z-index: 9999;
}

.modal.show {
  display: flex;
}

.modal-content {
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 18px;
  padding: 20px;
  background: #fff;
}

  /* profissionais */
  #modalProfissionais .modal-content {
    height: 80vh;
  }

  .card-profissional {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 10px;
  }
}

.fab-container button {
  cursor: pointer;
  touch-action: manipulation;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}
.fc {
  z-index: 1;
}

.fab-container {
  z-index: 30000;
}
.card-profissional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* lado esquerdo: bolinha + nome na mesma linha */
.lado-esquerdo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* bolinha de cor */
.bolinha {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* botão excluir pequeno e alinhado */
.btn-delete {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.btn-delete:hover {
  opacity: 1;
}